@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

.app-main {
  text-align: center;
  font-family: "Luxurious Roman", cursive;
}

h3 {
  text-transform: capitalize;
}

.quiz-main {
  padding: 20px;
}

.question-type {
  text-transform: capitalize;
  font-size: 17px;
}

.options-grid:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.table-cell {
  text-transform: capitalize;
}
